IndexOptions FancyIndexing HTMLTable VersionSort

DirectoryIndex index.html index.htm index.php welcome.html

Alias /openchs {{ openchs_config_path }}

<Directory "{{ openchs_config_path }}">
    Options Indexes MultiViews FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>
